html,
body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: 'Comfortaa', cursive;

}

:root {
  --white: #f5f5dc;
  --dark-white: #deb887;
  --light-cyan: #e0ffff;
  --light-green: #e0ffe8;

  --primary: var(--light-green);
  --secondary: var(--light-cyan);
  --theme: var(--light-cyan);

}
.coffee{--theme:var(--white)}
.tropical{ --theme:var(--light-cyan)}
.bright {
--primary: var(--dark-white);
--secondary: var(--white);
}
.Coral {
  --primary: var(--light-green);
  --secondary: var(--light-cyan);
}
.body {
  background-color: var(--primary);
}
.main {
  background-color: var(--secondary);
  height: 75rem;

}
.head{
  font-size: 8rem;
  text-align: center;
}
.text{
  font-size: 2rem;
  text-align: center;
  box-sizing: content-box;
  background-color: #ffffff;
  width: 300px;
  box-shadow: 1px 1px 1px rgb(173, 173, 173);
  
}
.btn,
.btn:link,
.btn:visited {
  padding: 2rem;
  display: inline-block;
  margin: 1rem auto;
  font-size: 2rem;
  border: none;
  border-radius: 1rem;
  transition: all 0.2s;
  background-color: var(--theme)
}
.btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 0.5rem rgba(173, 173, 173, 0.2);
}
.box {
  margin: 1rem;
  display: flex;
justify-content: space-around;
text-align: center;
align-items: center;
}
.box2 {
margin: 1rem;
  display: flex;
justify-content: space-around;
text-align: center;
align-items: center;
}