html,
body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

:root {
  --white: #f5f5dc;
  --light-blue: #2998ff;
  --dark-white: #deb887;
  --light-red: #f87171;
  --dark-red: #dc2626;
  --gray: #adadad;

  /*Intentions */
  --primary: var(--light-red);
  -secon-dary: var(--dark-red);

  /*Typography */
  --h1: 7.594rem;
  --h2: 5.063rem;
  --h3: 3.375rem;
  --h4: 2.25rem;
  --h5: 1.5rem;
}

.bright {
--primary: var(--dark-white);
--secondary: var(--white);
}
.cool {
  --primary: var(--light-red);
  -secon-dary: var(--dark-red);
}
.hero {
  background-color: var(--primary);
}
.main {
  background-color: var(--secondary);
  height: 90vh;
}

h1 {
  font-size: var(--h1);
}
h2 {
  font-size: var(--h2);
}

h3 {
  font-size: var(--h3);
}

h4 {
  font-size: var(--h4);
}

h5 {
  font-size: var(--h5);
}
h1,
h2,
h3,
h4,
h5 {
  text-align: center;
}
.btn,
.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  margin: 1rem auto;
  font-size: 2rem;
  border: none;
  border-radius: 10rem;
  transition: all 0.2s;
}
.btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 0.5rem rgba(0, 0, 0, 0.2);
}