html,
body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

:root {
  --white: #f5f5dc;
  --dark-white: #deb887;
  --light-cyan: #e0ffff;
  --light-green: #e0ffe8;
  --button1:#fff7e0;
  --button2:  #e4ffff;

  /*Intentions */
  --primary: var(--light-green);
  --secondary: var(--light-cyan);
  --theme: var(--button2);
  /*Typography */
  --h1: 7.594rem;
  --h2: 5.063rem;
  --h3: 3.375rem;
  --h4: 2.25rem;
  --h5: 1.5rem;
}
 
.bright {
--primary: var(--dark-white);
--secondary: var(--white);
}
.heat {
  --primary: var(--light-green);
  --secondary: var(--light-cyan);
}
.body {
  background-color: var(--primary);
}
.main {
  background-color: var(--secondary);
  height: 88rem;
}

h1 {
  font-size: var(--h1);
}
h2 {
  font-size: var(--h2);
}

h3 {
  font-size: var(--h3);
}

h4 {
  font-size: var(--h4);
}

h5 {
  font-size: var(--h5);
}
h1,
h2,
h3,
h4,
h5 {
  text-align: center;
}
.btn,
.btn:link,
.btn:visited {
  padding: 1.5rem 2rem;
  display: inline-block;
  margin: 1rem auto;
  font-size: 2rem;
  border: none;
  border-radius: 3rem;
  transition: all 0.2s;
  background-color: var(--theme)
}
.btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 0.5rem rgba(173, 173, 173, 0.2);
}